%body.pi-bg-main-wood
  #pi-all
    / Header
    .pi-main-header-w
      / Header row
      / End header row
      / Header row
      / End header row
    / End header
    #page
      / - - - - - - - - - SECTION - - - - - - - - -
      / Title bar
      .pi-section-w.pi-section-base.pi-section-base-gradient
        .pi-texture{style: "background: url(../../stylesheets/Images/hexagon.png) repeat;"}
        .pi-section{style: "padding: 30px 40px 26px;"}
          .pi-row
            .pi-col-sm-4.pi-center-text-xs
              %h1.h2.pi-weight-300.pi-margin-bottom-5 Openshift Dev Center
            .pi-col-sm-8.pi-text-right.pi-center-text-xs
              %p.lead-20.pi-weight-300.pi-margin-top-5.pi-margin-bottom-5 Where open source doesn't stop at software